div{
    height: 100px;
    width: 100px;
    background-color: brown;
    border-radius: 100%;
    position: relative;
    animation: ball 3s linear is defined alternate;
}
@keyframes ball {
    0%{
        top: 300px;
        background-color:red ;
       }
    20%{
        margin-top: 300px;
        background-color: green;
    }
    30%{
        margin-left: 300px;
        margin-top: 0px;
        background-color: blue;
    }
    50%{
        margin-top: 300px;
        margin-left: 600px;
        background-color: orange;
    }
    100%{
        margin-top: 0px;
        margin-left: 900px;
        background-color: blueviolet;
    }

}
